<header class="Site_Header">
  <nav class="container no_right">
    <div class="Site_logo">
      <a href="/" class="block">Basic Static Site</a>
    </div>
    <ul class="Site_links">
      <li>
        <a href="/features">Features</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
    <div class="Mobi_btn">
      <a class="block mobi_btn_js">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </a>
    </div>
  </nav>
</header>
