<div class="mobi_menu">
  <div class="mobi_nav container flex justify-between">
    <div class="Site_logo">
      <a href="/" class="block">Basic Static Site</a>
    </div>
    <div class="mobi_close_btn">
      <a class="block mobi_btn_js">
        <div class="line"></div>
        <div class="line"></div>
      </a>
    </div>
  </div>
  <div class="links_wrap flex justify-center items-center w-full h-full">
    <ul class="Site_links list-reset">
      <li>
        <a href="/features">Features</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</div>
