# Required, if "0" is used then your system
# will provide one automatically
PORT=3000

# If you have a way of hosting a local domain put it here
# This will print the url in the console when the node
# server is up.
# example: 'apache' or 'nginx' or manually setting it on 
# your OS
HOST=""

# Preconfigured settings
# 'apache' - adds a '.htaccess' file to serve up a 404 error
#            page if one is not found
# 'nginx'  - nothing yet
# 'node'   - nothing yet
SERVER=""
