{% extends "./layout.njk" %}
{% block content %}

  <main class="page_404 pt-48 pb-128">
    <section class="container">
      <div class="sm_page_wrap">
        <h1 class="mb-12">Sorry we couldn't find that</h1>
        <h4 class="mb-48 text-teal"><strong>404 Error</strong></h4>

        <div class="mt-24">
          <h4>Perhaps you one of these resourses will help?:</h4>
          <div class="mt-16">
            <p class="mb-8"><a href="/">Home</a></p>
            <p class="mb-8"><a href="/support">Support</a></p>
            <p class="mb-8"><a href="/about">About</a></p>
          </div>
        </div>
      </div>
    <section>
  </main>
  
{% endblock %}

{% block footerCode %}
  
{% endblock %}
