{% extends "./layout.njk" %}

{% block headCode %}
  <title>About</title>
  <meta name="description" content="Gale.js - Basic static site generator dev enviorment">
{% endblock %}

{% block content %}

<main>

  <section class="container py-96 bg-white text-center">
    <div class="max-w-720 mx-auto">
      <h1 class="less_bold text-pink">About Us</h1>
      <p class="mt-40 leading-loose">A great start to an about us page. I mean really look at this! Just so great.</p>
    </div>
  </section>

</main>



{% endblock %}

{% block footerCode %}
  {# Add page specfic code #}
{% endblock %}
