{% extends "./layout.njk" %}

{% block headCode %}
  <title>Features</title>
  <meta name="description" content="Gale.js - Basic static site generator dev enviorment">
{% endblock %}

{% block content %}

<main>

  <section class="bg-gray-light">
    <h1>Features</h1>
  </section>

</main>



{% endblock %}

{% block footerCode %}
  {# Add page specfic code #}
{% endblock %}
