@tailwind preflight;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* Custom css */
@import "keyframes.pcss";
@import "main.pcss";
@import "header.pcss";
@import "footer.pcss";
@import "type.pcss";
@import "banner.pcss";
@import "components/btn.pcss";
@import "util.pcss";

@tailwind utilities;
