{% macro btn(data) %}
  {% set config = {
    tag: 'button',
    class: '',
    type: 'primary',
    href: '',
    target: '',
    text: '',
    icon: false
  }|merge(data) %}
  {% include "../components/btn.njk" %}
{% endmacro %}

{% macro icon(data) %}
  {% set config = {
    name: 'time',
    width: '2'
  }|merge(data) %}
  {% include "../components/icon.njk" %}
{% endmacro %}

{% macro headerMeta(data) %}
  {% set config = {
    title: 'Gale.js',
    description: 'Gale.js - Basic static site generator dev enviorment',
    og: {
      url: 'https://github.com/M-erb/gale.js',
      title: 'Gale.js',
      description: 'Gale.js - Basic static site generator dev enviorment',
      type: 'website',
      img: {
        url: '',
        width: '',
        height: ''
      }
    }
  }|merge(data) %}
  {% include "../components/header-meta.njk" %}
{% endmacro %}
